*.npy
__pycache__
.idea
/src/poli/config.rc
src/poli.egg-info/
temp


.DS_Store
.vscode

*/corel.egg-info/*

results/

experiments/assets/data/rfp_fam/train
experiments/assets/data/rfp_fam/test

experiments/assets/data/blat_fam/train
experiments/assets/data/blat_fam/test