*.npy
__pycache__
.idea
/src/poli/config.rc
src/poli.egg-info/
temp

*.code-workspace


.DS_Store
.vscode

*/corel.egg-info/*

results/

experiments/assets/data/rfp_fam/train_seq
experiments/assets/data/rfp_fam/test_seq

experiments/assets/data/blat_fam/train_seq
experiments/assets/data/blat_fam/test_seq

*.a2m
*.tree
*.fasta